<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modinstaller.oneshotz.cm13soundmodinstaller">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.modinstaller.oneshotz.soundmod.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.modinstaller.oneshotz.soundmod.SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.modinstaller.oneshotz.soundmod.ThirdActivity"
            android:label="@string/title_activity_third"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.modinstaller.oneshotz.soundmod.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.modinstaller.oneshotz.soundmod.PermissionsActivity"
            android:label="@string/title_activity_permissions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.modinstaller.oneshotz.soundmod.UnzipProgress"
            android:label="@string/title_activity_unzip_progress"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>